In [1]:
# MIN Returnt the smallest item
min([29, 44, 5, 49, 345])

5

In [2]:
# MAX returnt the highest item 
max([29, 44, 5, 49, 345])

345

In [3]:
n = ['slavo', 'tamara', 'nenad', 'dejan', 'nikola']

In [4]:
max(n)

'tamara'

In [5]:
min(n)

'dejan'

In [6]:
min(len(name) for name in n)

5

In [7]:
sorted(n)

['dejan', 'nenad', 'nikola', 'slavo', 'tamara']

In [8]:
max(n, key=lambda n:len(n))

'tamara'

In [9]:
min(n, key=lambda n:len(n))

'slavo'

In [1]:
'''
Extremes Exercise - Using Min and Max
Write a function called extremes  which accepts an iterable.
It should return a tuple containing the minimum and maximum elements. 
For example:
'''
def extremes(l):
    return (min(l), max(l))
extremes([1,2,3,4,5])

(1, 5)