In [ ]:
# B Cryptos Portfolio
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [62]:
cryptos = {  
    
  'legend': ['Cryptos_Balance', '01/06/18'],
  'trx': [49979, 0.18],
  'xlm': [20382, 0.71],
  'xem': [10000, 1.62],
 'doge': [66948, 0.015],
  'xmr': [12, 402.52],
 'ada': [4795, 1.02],
 'iota': [976, 4.00],
 'dcn': [8320000, 0.0025],
 'eth': [18, 1011.63],
 'rpl': [15500, 2.70],
 'btc': [1.01, 17.039]
    
}

for n in cryptos:
    print(n, type(n))

legend <class 'str'>
trx <class 'str'>
xlm <class 'str'>
xem <class 'str'>
doge <class 'str'>
xmr <class 'str'>
ada <class 'str'>
iota <class 'str'>
dcn <class 'str'>
eth <class 'str'>
rpl <class 'str'>
btc <class 'str'>

12

In [ ]:
def add_cryptos ():
    for n in cryptos:
        if 'legend' == n:
            date = input('Please add Data format MM/DD/YY: ' )
            cryptos[n].append(date)
        else: 
            value = float(input('Add Crypto Price: '))
            cryptos[n].append(value)
add_cryptos()

In [48]:
cryptos

{'ada': [4795, 1.02],
 'btc': [1.01, 17.039],
 'dcn': [8320000, 0.0025],
 'doge': [66948, 0.015],
 'eth': [18, 1011.63],
 'iota': [976, 4.0],
 'legend': ['Cryptos_Balance', '1/6/18', '01/06/18'],
 'rpl': [15500, 2.7],
 'trx': [49979, 0.18],
 'xem': [10000, 1.62],
 'xlm': [20382, 0.71],
 'xmr': [12, 402.52]}

In [36]:
p = pd.DataFrame(data=cryptos)
p

,Balance,ada,btc,dcn,doge,eth,iota,rpl,trx,xem,xlm,xmr
0,Cryptos_Balance,4795.00,1.010,8.320000e+06,66948.000,18.00,976.0,15500.0,49979.00,10000.00,20382.00,12.00
1,Price,1.02,17.039,2.500000e-03,0.015,1011.63,4.0,2.7,0.18,1.62,0.71,402.52

In [37]:
p = p.set_index(['Balance'])

In [38]:
p

,ada,btc,dcn,doge,eth,iota,rpl,trx,xem,xlm,xmr
Balance,,,,,,,,,,,
Cryptos_Balance,4795.00,1.010,8.320000e+06,66948.000,18.00,976.0,15500.0,49979.00,10000.00,20382.00,12.00
Price,1.02,17.039,2.500000e-03,0.015,1011.63,4.0,2.7,0.18,1.62,0.71,402.52

In [ ]:
crypto_price = float('Please add crypto price ')
def crypto_calculator():