In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('account.csv')
data.head()

       data  balance                                        description
0  12/29/17  -100.00                                       CHECK # 9934
1  12/29/17    -2.49  PURCHASE AUTHORIZED ON 12/29 7-ELEVEN FORT LAU...
2  12/29/17    -2.64  PURCHASE AUTHORIZED ON 12/29 7-ELEVEN CORAL SP...
3  12/29/17   -15.00  PURCHASE AUTHORIZED ON 12/29 WESTAR ATLANTIC P...
4  12/29/17    -1.67  PURCHASE AUTHORIZED ON 12/29 PUBLIX SUPER MAR ...

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 3 columns):
data           469 non-null object
balance        469 non-null float64
description    469 non-null object
dtypes: float64(1), object(2)
memory usage: 11.1+ KB

In [8]:
data.describe()

           balance
count   469.000000
mean      0.376972
std     335.702662
min   -1694.000000
25%     -18.980000
50%      -9.990000
75%      -2.990000
max    2500.000000

In [11]:
mean_data = data['balance'].mean()
mean_data

0.37697228144988887

In [14]:
pos = data['balance'] > 0
pos.head()

0    False
1    False
2    False
3    False
4    False
Name: balance, dtype: bool

In [15]:
data['balance'].max()

2500.0

In [16]:
data['balance'].min()

-1694.0