In [1]:
# Pandas is open source library built on top of NumPy
# It allows for a fast analysis and data cleaning and preparation
# It excels in performance and productivity
# it also has built-in vizualization features 
# it can work with data from a wide variety of sources

In [32]:
import pandas as pd 
import numpy as np
from numpy.random import randn

In [33]:
# Series

In [34]:
labels = ['a', 'b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [35]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [36]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [37]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [38]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [39]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [40]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [41]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [42]:
ser1 = pd.Series([1,2,3,4],['Serbia','Croatia','USA','England'])
ser1

Serbia     1
Croatia    2
USA        3
England    4
dtype: int64

In [43]:
ser2 = pd.Series([1,2,5,4],['Serbia','Croatia','Brazil','England'])
ser2

Serbia     1
Croatia    2
Brazil     5
England    4
dtype: int64

In [44]:
ser1['USA']

3

In [45]:
ser1[2]

3

In [46]:
ser1 + ser2

Brazil     NaN
Croatia    4.0
England    8.0
Serbia     2.0
USA        NaN
dtype: float64

In [47]:
# DataFrames

In [48]:
np.random.seed(101)

In [50]:
df = pd.DataFrame(randn(5,4),['a', 'b','c','d','e'],['w','x','y','z'])
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [51]:
df['w']

a    0.302665
b   -0.134841
c    0.807706
d   -0.497104
e   -0.116773
Name: w, dtype: float64

In [53]:
type(df['w'])

pandas.core.series.Series

In [54]:
df['x']

a    1.693723
b    0.390528
c    0.072960
d   -0.754070
e    1.901755
Name: x, dtype: float64

In [56]:
df[['x','z']]

          x         z
a  1.693723 -1.159119
b  0.390528  0.184502
c  0.072960  0.329646
d -0.754070  0.484752
e  1.901755  1.996652

In [57]:
df['new'] = df["w"] + df['z']

In [58]:
df

          w         x         y         z       new
a  0.302665  1.693723 -1.706086 -1.159119 -0.856454
b -0.134841  0.390528  0.166905  0.184502  0.049661
c  0.807706  0.072960  0.638787  0.329646  1.137352
d -0.497104 -0.754070 -0.943406  0.484752 -0.012352
e -0.116773  1.901755  0.238127  1.996652  1.879879

In [59]:
df.drop('new', axis=1)

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [60]:
df

          w         x         y         z       new
a  0.302665  1.693723 -1.706086 -1.159119 -0.856454
b -0.134841  0.390528  0.166905  0.184502  0.049661
c  0.807706  0.072960  0.638787  0.329646  1.137352
d -0.497104 -0.754070 -0.943406  0.484752 -0.012352
e -0.116773  1.901755  0.238127  1.996652  1.879879

In [61]:
df.drop('new', axis=1, inplace = True)
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [62]:
df.drop('e', axis=0)

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752

In [63]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [64]:
df.shape

(5, 4)

In [65]:
# Rows

In [67]:
df.loc['a']

w    0.302665
x    1.693723
y   -1.706086
z   -1.159119
Name: a, dtype: float64

In [69]:
df.iloc[0]

w    0.302665
x    1.693723
y   -1.706086
z   -1.159119
Name: a, dtype: float64

In [70]:
df.loc['b','y']

0.16690463609281317

In [71]:
df.loc[['b','c'],['x','y']]

          x         y
b  0.390528  0.166905
c  0.072960  0.638787

In [73]:
booldf = df > 0
booldf

       w      x      y      z
a   True   True  False  False
b  False   True   True   True
c   True   True   True   True
d  False  False  False   True
e  False   True   True   True

In [74]:
df[booldf]

          w         x         y         z
a  0.302665  1.693723       NaN       NaN
b       NaN  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d       NaN       NaN       NaN  0.484752
e       NaN  1.901755  0.238127  1.996652

In [75]:
df[df>0]

          w         x         y         z
a  0.302665  1.693723       NaN       NaN
b       NaN  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d       NaN       NaN       NaN  0.484752
e       NaN  1.901755  0.238127  1.996652

In [77]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [78]:
df[df['z']<0]

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119

In [79]:
df[df['w']>0]['x']

a    1.693723
c    0.072960
Name: x, dtype: float64

In [80]:
df.reset_index()

  index         w         x         y         z
0     a  0.302665  1.693723 -1.706086 -1.159119
1     b -0.134841  0.390528  0.166905  0.184502
2     c  0.807706  0.072960  0.638787  0.329646
3     d -0.497104 -0.754070 -0.943406  0.484752
4     e -0.116773  1.901755  0.238127  1.996652

In [81]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652